h1 {
  color: lavender;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: #CB98A3;
  font-family: 'Raleway', sans-serif;
}
p {
  color: #3C2B3E;
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  color: #3C2B3E;
  font-family: 'Open Sans Condensed', sans-serif;
}
